html{
    background-color: aliceblue;
}

h1, h2, p, a, .page1, .Block1, .Block2{
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

h2{
    font-family: 'Patua One', cursive;
    float: left;
    margin: 0px;
}

h1{
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
}


a{
    color: black;
}

li{
    list-style: none;
    float: right;
    padding-right: 100px;
    font-size: x-large;
    font-weight: bolder;
}

.page1{
    padding-top: 120px;
    margin: 0px 300px;
}

.Block1{
    float:left;
}
.Block2{
    float:right;
}